-#  This file is app/views/catalogs/index.html.haml
%h1 System Catalogs

%table#catalogs
  %thead
    %tr
      %th Catalog Number
      %th Description 
      %th Count
      %th Vendor
  %tbody
    - @catalogs.each do |catalog|
      %tr
        %td= catalog.partnumber 
        %td= catalog.material_description
        %td= catalog.count
        %td= link_to "#{catalog.vendor_name}", vendors_path{catalog.vendor_id}
        %td= link_to 'Show', catalog
        %td= link_to 'Edit', edit_catalog_path(catalog)
        %td= link_to 'Delete', catalog, method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'Add new Catalog', new_catalog_path

