%h1 Create New Catalog

= form_tag catalogs_path do

  = label :catalog, :partnumber, 'Part Number'
  = text_field :catalog, 'partnumber'

  = label :catalog, :count, 'Count'
  = text_field :catalog, 'count'

  = label :catalog, :vendor_id, 'Vendor'
  = select :catalog, :vendor_id, options_from_collection_for_select(Vendor.all, :id, :name)

  = label :catalog, :material_id, 'Material Number'
  = select :catalog, :material_id, options_from_collection_for_select(Material.all, :id, :description)

  = submit_tag 'Save Changes'
