<p id="notice"><%= notice %></p>

<p>
  <strong>Partnumber:</strong>
  <%= @catalog.partnumber %>
</p>

<p>
  <strong>Count:</strong>
  <%= @catalog.count %>
</p>

<p>
  <strong>Amount per container:</strong>
  <%= @catalog.amount_per_container %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @catalog.unit %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @catalog.vendor_name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @catalog.material_description %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
