<%= form_for(@bill_of_material) do |f| %>
  <% if @bill_of_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill_of_material.errors.count, "error") %> prohibited this bill_of_material from being saved:</h2>

      <ul>
      <% @bill_of_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :parent_material %><br>
    <%= f.text_field :parent_material %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
