%h1 Create New Intermediate

= form_tag recipe_intermediates_path do

  = label :intermediate, :recipe_id, 'Final Product'
  = select :intermediate, :recipe_id, options_from_collection_for_select(Recipe.all, :id, :material_description), :selected => params[:recipe_id]

  = label :intermediate, :material_id, 'Material Number'
  = select :intermediate, :material_id, options_from_collection_for_select(Material.all, :id, :description), :prompt => "select one"

  = label :intermediate, :units, 'Units of Measure'
  = text_field :intermediate, 'units' 

  = label :intermediate, :amount, 'Required Amount'
  = number_field :intermediate, 'amount' 

  = submit_tag 'Save Changes'
