-# edit.html.haml using partial

%h1 Edit Existing Ingredient

= form_tag recipe_ingredient_path(@recipe,@ingredient), :method => :put do

  = label :ingredient, :material_id, 'Material Number'
  = collection_select(:ingredient, :material_id, Material.all, :id, :description, :prompt => true)

  = label :ingredient, :units, 'Units of Measure'
  = text_field :ingredient, 'units' 

  = label :ingredient, :amount, 'Required Amount'
  = number_field :ingredient, 'amount' 

  = submit_tag 'Update Ingredient Info'
