-# edit.html.haml using partial

%h1 Edit Existing Material

= form_tag material_path(@material), :method => :put do

  = label :material, :smn, 'Material Number'
  = text_field :material, 'smn'
  <br/>

  = label :material, :description, 'Description'
  = text_field :material, :description
  <br/>

  = label :material, :disposition, 'Disposition'
  = select :material, :disposition, Material.all_dispositions 
  <br/>

  = submit_tag 'Update Material Info'
