-#  This file is app/views/materials/index.html.haml
%h1 System Materials

%table#materials
  %thead
    %tr
      %th Material Number
      %th Description
      %th Disposition
  %tbody
    - @materials.each do |material|
      %tr
        %td= material.smn 
        %td= material.description
        %td= material.disposition
        %td= link_to 'Show', material
        %td= link_to 'Edit', edit_material_path(material)
        %td= link_to 'Delete', material, method: :delete, data: {confirm: 'Are you sure?'}

= link_to 'Add new material', new_material_path
