<%= form_for(@cabinet) do |f| %>
  <% if @cabinet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cabinet.errors.count, "error") %> prohibited this cabinet from being saved:</h2>

      <ul>
      <% @cabinet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :Room %><br>
    <%= f.text_field :Room %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
