!!! 5
%html
  %head
    %title Inventory Management System
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title Inventory Management System
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning] 
        #warning.message= flash[:warning]

      = yield
